@model EmployeeModel
@{
    ViewData["Title"] = "Edit";
}


<div class="row">
    <div class="col-md-9">
        <form asp-action="update" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-1">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>

            <div class="form-group mt-4">
                <a type="button" asp-action="Index" asp-controller="employee" class="btn btn-warning btn-md mr-2">Back</a>
                <button type="reset" class="btn btn-info btn-md mr-2">Reset</button>
                <button type="submit" class="btn btn-primary btn-md">Update</button>
            </div>

        </form>
    </div>
</div>


@section Scripts {
            @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
        }
